{% set lxde = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['lxde'],
		'lxdm_conf': '/etc/lightdm/lightdm.conf',
		'lxdm_conf_src': 'salt://lxde/files/debian/lxdm.conf.jinja',
    },
    'RedHat': {
        'pkgs': ['lxde'],
    },
	'Arch': {
        'pkgs': ['gpicview','lxappearance','lxappearance-obconf','lxde-common','lxde-icon-theme','lxdm','lxinput','lxlauncher','lxmenu-data','lxmusic','lxpanel','lxrandr','lxsession','lxtask','lxterminal','openbox','pcmanfm'],
		'lxdm_conf': '/etc/lxdm/lxdm.conf',
		'lxdm_conf_src': 'salt://lxde/files/arch/lxdm.conf.jinja',
    },
}, grain="os_family", merge=salt['pillar.get']('lxde:lookup')) %}
